* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.book-main-section {
    width: 90vw;
    background-color: aliceblue;
    margin: 5px auto;
    padding: 70px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.book-container {
    height: 225px;
    width: 175px;
}

.book-image {
    border: 5px solid white;
    outline: 3px solid black;
    height: 225px;
    width: 175px;
    transition: all 0.5s ease 1ms;
}


.book-image:hover {
    border: 1px solid white;
    transform: scale(1.05, 1.05);
}

@media only screen and (max-width: 560px) {
    .book-main-section {
        width: 100vw;
        padding: 50px 0 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .book-container {
        height: 150px;
        width: 135px;
        background-color: aqua;
    }

    .book-image {
        border: 5px solid white;
        outline: 3px solid black;
        height: 150px;
        width: 135px;
        transition: all 0.5s ease 1ms;
    }
}