* {
  /* box-sizing: border-box; */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

/* body {} */

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  background-color: #1e1e3f;
  color: aliceblue;
}

.under {
  text-decoration: none;
  text-transform: capitalize;
  color: aliceblue;
  padding-right: 10px;
  padding-left: 10px;
}

.section-1 {
  height: 100vh;
  background-image: url("landing\ page\ background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-1 {
  margin: 50px 0 0 50px;
}

.sub-container-1 {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.scroll-container {
  width: 90vw;
  overflow: hidden;
}

.heading-1 {
  font-size: 45px;
  font-weight: 600;
  display: inline-block;
  animation: scroll-left-right 10s linear infinite;
}

@keyframes scroll-left-right {
  from {
    transform: translateX(-100%);
    left: 0%;
  }

  to {
    transform: translateX(100%);
    right: 100%;
  }
}

.heading-2 {
  font-weight: 800;
  font-size: 35px;
}

.heading-3 {}

.link-1 {
  font-size: 13px;
  text-decoration: none;
  background-color: blueviolet;
  color: aliceblue;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.link-1:hover {
  transform: scale(1.02);
  text-decoration: underline;
}

.section-2 {
  height: 100vh;
  background-image: url("9241.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-2 {
  height: 500px;
  width: 80vw;
  background-color: rgba(240, 248, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main_para {
  font-size: 23px;
  font-weight: bold;
  color: #2a2a6f;
}

.sub_para {
  font-size: 18px;
  color: #1e1e3f;
}

.section-3 {
  height: 100vh;
  background-image: url("IMG_20240107_030629.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-3 {
  background-color: rgba(240, 248, 255, 0.5);
  width: 50vw;
}

.section-3-para {
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
}