body {
  /* box-sizing: border-box; */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  background-color: #1e1e3f;
  color: aliceblue;
}


.under {
  text-decoration: none;
  text-transform: capitalize;
  color: aliceblue;
  padding-right: 10px;
  padding-left: 10px;
}

.scroll_H1 {
  padding-top: 40px;
  font-size: 40px;
  font-weight: 600;
  width: 90%;
  margin: 0 auto;
}

h2 {
  font-weight: 800;
  font-size: 35px;
}

.main1 {
  height: 100vh;
  background-image: url("landing\ page\ background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#div1 {
  height: 60vh;
  width: 90vw;
  margin: 40px auto;
}

.main1 a {
  text-decoration: none;
  background-color: navy;
  color: aliceblue;
  padding: 15px;
  border-radius: 20px;
}

.main1 a:hover {
  text-decoration: underline;
  background-color: #1e1e3f;
  color: whitesmoke;
  padding: 15px;
}

.main2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("9241.jpg");
  background-size: cover;
  height: 100vh;
}

#description {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 20px;
}

.main_para {
  color: #25265e;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}

.sub_para {
  color: #25265e;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.main3 {
  background-image: url("IMG_20240107_030629.jpg");
  background-size: cover;
  height: 100vh;
}

#div2 {
  width: 90vw;
  margin: 0 auto;
  padding: 30px;
}

#div2 p {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  line-height: 40px;
}

/* footer part codingg starts from here */
footer {
  margin: 0;
  background-color: #1e1e3f;
 
  color: rgb(150 161 192);
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0px;
}
@media only screen and (max-width: 560px) {
  body {
      /* box-sizing: border-box; */
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
}
